.nav {
    position: fixed;
    width: 100%;
    background-color: #FFFFFF;
    color: #000000;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    z-index: 999;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.nav-logo a {
    font-size: 32px;
}
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links,
.nav-links a {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links-right {
    margin-right: 50px;
}

.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    border-radius: 4px;
    background-color: white;
    height: 36px;
}

.search-img {
    max-width: 25px;
}

.search-input {
    margin: 0 10px 0 0;
    border: none;
}

.search-input {
    outline: none;
}

.nav-sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #147EFB;
    box-sizing: border-box;
    border-radius: 18px;
    color: #147EFB;
    font-weight: bold;
    margin-right: 5px;
    padding-bottom: 4px;
}

.nav-sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 36px;
    background: #147EFB;
    box-sizing: border-box;
    border-radius: 18px;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 5px;
    padding-bottom: 4px;
}

.nav-sign-in:hover {
    background: #b5b5b5;
}

.nav-sign-up:hover {
    background: #449bff;
}

.nav-logout-button {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    cursor: pointer;
    font-weight: 700;
}

.nav-logout-button:hover {
    border-bottom: solid black 1px;
}

/* .account-icon {
    border: #b5b5b5 solid 2px;
    border-radius: 3rem;
    margin: 3px;
}
.account-icon:hover {
    border: #000000 solid 2px;
    border-radius: 3rem;
} */