/* .home {
    width: 62.5%;
} */

.home-options-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* margin-top: 100px; */
}

.home-option {
    height: 45px;
    width: 140px;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-posts-container {
    margin-top: 20px;
}