.post-detail-wrapper {
    border-left: solid rgb(150, 150, 150) 2px;
    border-top: solid rgb(150, 150, 150) 2px;
    border-right: solid rgb(150, 150, 150) 2px;
    /* border-bottom: solid rgb(150, 150, 150) 2px; */
    border-radius: 2px;
}

.comments-wrapper {
    /* border-top: solid rgb(150, 150, 150) 2px; */
    border-left: solid rgb(150, 150, 150) 2px;
    border-right: solid rgb(150, 150, 150) 2px;
    border-bottom: solid rgb(150, 150, 150) 2px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
}

.create-comment-wrapper {
    display: flex;
    flex-direction: column;
    border-left: solid rgb(150, 150, 150) 2px;
    border-right: solid rgb(150, 150, 150) 2px;
    background-color: #ECECEC;
    padding: 10px;
}

.create-comment-textarea {
    outline: none;
    width: 545px;
    height: 50px;
    margin-top: 10px;
    padding: 10px;
    padding-left: 20px;
    border-radius: 2px;
    margin-bottom: 5px;
}

.comment-create-options {
    width: 100%;
    background-color: #ECECEC;
    display: flex;
    justify-content: flex-end;
}

.comment-create-submit {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    height: 36px;
    width: 95px;
    background: #147EFB;
    box-sizing: border-box;
    border-radius: 18px;
    color: #FFFFFF;
    font-weight: 500;
    padding-bottom: 4px;
    align-self: flex-end;
    cursor: pointer;
}

.comment-create-submit:hover {
    background: #449bff;
}