.post-create-wrapper {
  width: 800px;
  border: solid rgba(0, 0, 0, 0.4) 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: #FFFFFF;
}

.post-create-form {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  width: 625px;
  height: 420px;
  left: 189px;
  top: 171px;
}

.post-create-content,
.post-create-title {
  padding: 5px;
  margin: 10px 0;
}

.post-create-submit {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  height: 36px;
  width: 95px;
  background: #147EFB;
  box-sizing: border-box;
  border-radius: 3rem;
  color: #FFFFFF;
  font-weight: 500;
  padding-bottom: 4px;
  align-self: flex-end;
  cursor: pointer;
  align-self: flex-end;
}
  
  .post-create-submit:hover {
    background: #449bff;
  }
  
  .post-create-submit:active {
    outline: none;
    border: none;
  }
  
  .post-create-submit:focus {
    outline: 0;
  }
  